#id_success{
    color : green;
    display: none;
}

#id_overlap{
    color : red;
    display: none;
}

#id_min{
    color : red;
    display: none;
}

#id_blank{
    color : red;
    display: none;
}

#pw_success{
    color : green;
    display: none;
}

#pw_fail{
    color : red;
    display: none;
}

#name_fail{
    color : red;
    display: none;
}

#phone_fail{
    color : red;
    display: none;
}

#email_fail{
    color : red;
    display: none;
}
